@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  overflow: hidden;
  /* App is a fixed dashboard */
}

.custom-terminal-scroll::-webkit-scrollbar {
  width: 4px;
}

.custom-terminal-scroll::-webkit-scrollbar-track {
  background: rgba(39, 39, 42, 0.3);
  /* zinc-800, lower opacity */
}

.custom-terminal-scroll::-webkit-scrollbar-thumb {
  background: rgba(6, 182, 212, 0.5);
  /* cyan-500 with opacity */
  border-radius: 4px;
}

.custom-terminal-scroll:hover::-webkit-scrollbar-thumb {
  background: rgba(6, 182, 212, 0.8);
}

/* Glow Utilities */
.glass-panel {
  @apply bg-zinc-900/50 backdrop-blur-md border border-zinc-800;
}